.menu-item > a {
  display: block;
  position: absolute;
  bottom: -5px;
  background: #2a314a;
  content: "";
  width: 0;
  left: 50%;
  height: 1px;
  transition: all 0.2s ease-in;
}
.menu-item > a:after {
  width: 100%;
  left: 0;
}
