.slick-track {
  display: flex;
}

.slick-slide {
  height: auto;
}

.slick-slide > div {
  display: flex;
  height: 100%;
}

.slider-default {
  .slick-dots {
    bottom: 0;
  }

  .slick-dots {
    li {
      button {
        &:before {
          opacity: 0.5;
          color: white;
        }
      }

      &.slick-active {
        button {
          &:before {
            opacity: 1;
            color: white;
          }
        }
      }
    }
  }
}

@layer components {
  .slick-image li {
    @apply size-16;
  }
}
.slick-image {
  bottom: -80px;
  /* transform: translateY(5rem); */
}
