@import "./assets/css/fonts.css";
@import "./assets/css/slide.css";
@import "./assets/css/media.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-link .btn-text {
    @apply relative after:absolute after:-bottom-2px after:left-1/2 after:block after:h-px after:w-0 after:bg-slate-900 after:transition-all after:content-[''] after:hover:left-0 after:hover:w-full;
  }

  .sidebar-icon {
    @apply relative mx-auto mb-2 mt-2 flex h-12 w-12 items-center justify-center rounded-3xl bg-gray-800 text-green-500 transition-all duration-300 ease-linear hover:rounded-xl hover:bg-green-600 hover:text-white;
  }

  .sidebar-tooltip {
    @apply absolute left-14 m-2 w-auto min-w-max origin-left scale-0 rounded-md bg-gray-900 p-2 text-xs font-bold text-white shadow-md transition-all duration-100;
  }
}

:root {
  font-family: "Poppins", sans-serif;
}

.overlayscrollbars-react {
  width: 16rem;
  height: 16rem;
  margin: 0 auto;
  resize: both;
  overflow: auto;
  border-radius: 6px;
  border: 2px solid var(--foreground-color);
  box-shadow: rgb(var(--foreground-color-rgb) / 0.14) 0 0.875rem 3.125rem;
}

#container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

#container::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

#container::-webkit-scrollbar-thumb {
  background-color: #202225;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

.transition-height {
  transition:
    height 0.5s ease-in-out,
    max-height 0.5s ease-in-out;
}
